<!-- vedio background -->
<video autoplay="" loop="" poster="polina.jpg" id="bgvid">

  <source src="video/polina.webm" type="video/webm">

  <source src="video/polina.mp4" type="video/mp4">

</video>
<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

<!-- header start -->
<!-- ================ -->
<header class="header fixed clearfix navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <!-- header-left start -->
        <!-- ================ -->
        <div class="header-left clearfix">

          <!-- logo -->
          <div class="logo smooth-scroll">
            <a href="#banner"><img id="logo" src="images/mystore.png" alt="mystore"></a>
          </div>

          <!-- name-and-slogan -->
          <div class="site-name-and-slogan smooth-scroll">
            <div class="site-name"><a data-toggle="collapse" href="#cart">MyStroe</a></div>
            <div class="site-slogan">Free Bootstrap Theme by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a></div>
          </div>

        </div>
        <!-- header-left end -->

      </div>
      <div class="col-md-8">

        <!-- header-right start -->
        <!-- ================ -->
        <div class="header-right clearfix">

          <!-- main-navigation start -->
          <!-- ================ -->
          <div class="main-navigation animated">

            <!-- navbar start -->
            <!-- ================ -->
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">

                <!-- Toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <%= link_to '主页', root_path %>
                    </li>
                    <li>
                      <%= link_to '活动', active_path %>
                    </li>
                    <li>
                      <%= link_to '服务', service_path %>
                    </li>
                    <li>
                      <%= link_to '用户', info_path %>
                    </li>
                    <li><a data-toggle="collapse" data-target="#cart" id="cartcontrol">Cart</a></li>
                  </ul>
                </div>
                <div class="cart">

                  <!-- <a data-toggle="collapse" href="#cart">Cart</a> -->
                </div>
              </div>
            </nav>
            <!-- navbar end -->

          </div>
          <!-- main-navigation end -->

        </div>
        <!-- header-right end -->

      </div>
    </div>
  </div>
  <!-- cart -->

  <div class="panel-collapse collapse" id="cart">
    <div class="panel-body">
      <div class="container">
        <h1>ShopCart</h1>
      </div>
    </div>
  </div>
</header>
<!-- header end -->